body, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

.c-title {
    font-weight: 700;
    text-align: center;
}

@media (max-width: 640px) {
    .c-app {
        flex-direction: column;
    }
}

@media (min-width: 640px) {
    .c-preview {
        max-width: 30vw;
        margin-left: 20px;
        border-left: solid 1px #e6e6e6;
        padding-left: 20px;
    }
}